* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sub-container {
  display: flex;
  flex-grow: 1;
}

.banner-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
